<div class="container">
  <div class="row">
    <div class="col s4" *ngFor="let x of data">
      <div class="card z-depth-5 hoverable">
        <div class="card-image">
          <img [src]="x.imagem" class="img-content">
          <span class="card-title grey-text indigo-darken-4 negrito center-align">{{ x.titulo }}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red pulse" [routerLink]="x.router" (click)="dataService.data = x"><i
              class="material-icons">{{ x.icon }}</i></a>
        </div>
        <div class="card-content teal lighteen-2">
          <p>{{ x.descricao }}</p>
        </div>
      </div>

    </div>
  </div> 